<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/reservation/common.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/reservation/reserve.css}">
<title>Insert title here</title>
</head>
<body>
	<header id="header" th:include="/header"></header>
	<div class="contents">
		<form action="/reservation/reserve" id="movieForm" name="movieForm" method="post">
			<div class="r-container">
				<div class="boxHead">
					<h4 class="r-h4">영화예매</h4>
					<div class="re-res">예매 다시하기</div>
				</div>

				<div class="boxBody">
					<div class="cinema-list">
						<div class="list-head">
							<h5>영화관</h5>
						</div>
						<div class="list-body">
							<div class="cinema-select-wrap">
								<div class="cinemaArea">
									<ul>
										<li class="ca" th:each="a:${areaList}">
											<button type="button" th:text="${a.aName}" th:onclick="area([[${a.aNo}]]); aNofuc([[${a.aNo}]]);"></button>
										</li>
									</ul>
								</div>
								<div class="areaDetail">
									<ul id="adul">
										<li class="ad" th:each="ci:${session.cList}">
											<button type="button" name="rCinema" th:text="${ci.ciName}" th:onclick="ciNofuc([[${ci.ciName}]])"></button>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="mv-list">
						<div class="list-head">
							<h5>영화</h5>
						</div>
						<div class="list-body">
							<div class="cinema-select-wrap">
								<div class="movieTitle">
									<ul>
										<li class="mt" th:each="ml:${mlList}">
											<button type="button" name="rMovie" th:text="${ml.mlName}" th:onclick="mlfuc([[${ml.mlName}]])"></button>
										</li>
									</ul>
								</div>
							</div>

						</div>
					</div>

					<div class="date-list">
						<ul>
							<li>
								<strong class="year">2022.10</strong>
							</li>
							<li class="dl" th:each="dl:${dateList}">
								<button type="button" class="hi" th:text="${dl}" value="${dl}"></button>
							</li>
<!-- 							<li class="dl sunday">
								<button type="button">일 16</button>
							</li>
							<li class="dl">
								<button type="button">월 17</button>
							</li>
							<li>
								<strong class="year">2022.11</strong>
							</li>
							<li class="dl saturday">
								<button type="button">토 15</button>
							</li>
							<li class="dl sunday">
								<button type="button">일 16</button>
							</li>
							<li class="dl">
								<button type="button">월 17</button>
							</li> -->
						</ul>
					</div>
					<div class="time">
						<div class="list-head">
							<h5>상영시간</h5>
						</div>
						<div class="list-body">
							<div class="time-list"></div>
							<div class="info-box">
								<div class="poster">
									<img id="posterThum" alt="" src="https://www.dtryx.com/resources/img/reservation_pc/no_movie.png">
								</div>
								<div class="text">
									<strong> <span class="sTitle" id="sTitle">영화를 선택하세요</span>
									</strong>
									<dl>
										<dt>극장</dt>
										<dd class="sCinema" id="sCinema">극장을 선택하세요</dd>
									</dl>
									<dl>
										<dt>상영관</dt>
										<dd class="sTheater">2D/5관</dd>
									</dl>
									<dl>
										<dt>날짜</dt>
										<dd class="sDate">2022-10-14(금)</dd>
									</dl>
									<dl>
										<dt>상영시간</dt>
										<dd class="sTime">15:00~17:10</dd>
									</dl>
								</div>
							</div>
							<div class="next">
								<button type="submit">인원/좌석 선택</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<footer id="footer" th:include="/footer"></footer>
	<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
	<script src="/js/reservation/reserve.js"></script>
</body>
</html>