@charset "UTF-8";

.inner {
	max-width: 980px;
	margin: 0 auto;
	padding: 0 20px;
}

.head {
	margin-bottom: 44px;
	overflow: hidden;
}

.f-logo {
	float: left;
}

.etc {
	float: right;
	padding-top: 10px;
}

.etc a {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #909090;
	line-height: 14px;
}

.etc a+a {
	margin-left: 26px;
	padding-left: 27px;
	border-left: 1px solid #bdbdbd;
}

.inner .f-body {
	clear: both;
	position: relative;
	font-size: 12px;
	line-height: 1.6;
	color: #909090;
}
