@charset "UTF-8";

body {
	line-height: 1.1;
	margin: 0;
	padding: 0;
}

#header {
	margin: 0 auto;
	width: 980px;
}

#footer {
	padding: 45px 0;
	background: #fafafa;
	border-top: 1px solid #e2e2e2;
	margin-top: 65px;
}

.banner {
	height: 500px;
	width: 100%;
	background-color: #FFD8D8;
}

.banner img {
	height: 500px;
	width: 100%;
}

.contents {
	margin: 0 auto;
	width: 980px;
	padding-top: 50px;
}

.h2 {
	position: relative;
}

.h2 .btn-more {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 40px;
	/* background: url(../img/common/ico_main_more.png) no-repeat 50% 50%;
    text-indent: -9999px;
    transition: all 0.5s ease; */
}

.swiper {
	overflow: hidden;
	height: 375px;
	width: 100%;
	-webkit-user-select: none;
 	-moz-user-select: none;
 	-ms-use-select: none;
 	user-select: none;
}

.swiper-slide {
	width: 20%;
}

.swiper-slide img {
	width: 100%;
	height: 331px;
	margin-bottom: 10px;
}

.swiper-slide .title {
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

df-messenger {
   --df-messenger-bot-message: #fedce7;
   --df-messenger-button-titlebar-color: LightCoral;
   --df-messenger-chat-background-color: #fafafa;
   --df-messenger-font-color: #2f1717;
   --df-messenger-send-icon: #878fac;
   --df-messenger-user-message: #ffd5ff;
 }
 