@charset "UTF-8";

body {
	line-height: 1.1;
	margin: 0;
	padding: 0;
}

#header {
	margin: 0 auto;
	width: 980px;
}

#footer {
	padding: 45px 0;
	background: #fafafa;
	border-top: 1px solid #e2e2e2;
	margin-top: 65px;
}

.contents {
	margin: 0 auto;
	width: 980px;
	padding-top: 50px;
}

.m-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.m-list li {
	margin: 0;
	padding-bottom: 60px;
	display: inline-block;
}

.box-image {
	width: 230px;
	height: 331px;
	margin-bottom: 20px;
	background-color: #FFD8D8;
}

.box-image img {
	width: 230px;
	height: 331px;
	object-fit: cover;
}

.box-content .title {
	margin-bottom: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 230px;
}

.box-content .rate-date span {
	position: relative;
}

.box-content .rate-date span.rate:after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: 50%;
	width: 1px;
	height: 15px;
	margin: -6px -13px 0 0;
	background-color: black;
}

.box-content .m-reserv {
	margin-top: 10px;
}

.box-content .m-reserv button {
	background-color: #f8e6e0;
	color: #6e6e6e;
	position: relative;
	border: none;
	display: inline-block;
	padding: 10px 90px;
	border-radius: 15px;
	text-decoration: none;
	font-weight: 600;
	transition: 0.25s;
	cursor: pointer;
}