<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
<nav>
	<h1 class="logo">
		<a href="/">GOMSUI CINEMA</a>
	</h1>

	<div class="member_info">
		<ul>
			<li>
				<a th:href="@{/login/login.do}">로그인</a>
			</li>
			<li>
				<a th:href="@{/login/register.do}">회원가입</a>
			</li>
		</ul>
	</div>
	<div class="movie_nav">
		<ul>
			<li>
				<a th:href="@{/reservation/reserve.do}">예매</a>
			</li>
			<li>
				<a th:href="@{/movie.do}">영화</a>
			</li>
			<li>
				<a th:href="@{/recommend.do}">영화추천</a>
			</li>
			<!-- 추천 넣어보고 이상하면 스토어 -->
			<li>
				<a>마이페이지</a>
			</li>
		</ul>
	</div>
</nav>