<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
<title>곰수이</title>
</head>
<body>
	<header id="header" th:include="/header"></header>
	<div id="mainContainer">
		<div class="banner">
			<!-- 영화광고 -->
		</div>
		<div class="contents">
			<h2 class="h2">
				현재상영작 TOP10
				<a class="btn-more">+</a>
			</h2>
			<div class="top10">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">Slide 1</div>
						<div class="swiper-slide">Slide 2</div>
						<div class="swiper-slide">Slide 3</div>
					</div>
					<!-- <div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-pagination"></div> -->
				</div>
			</div>
		</div>
	</div>

	<footer id="footer" th:include="/footer"></footer>

	<!-- <script type="text/javascript" src="./static/js/index.js"></script> -->
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</body>
</html>