<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/movie.css}">
<title>Insert title here</title>
</head>
<body>
	<header id="header" th:include="/header"></header>
	<div class="contents">
		<h2>현재 상영작</h2>
		<div class="movie-list">
			<ul class="m-list">
				<li th:each="ml:${mlList}">
					<div class="box-image">
						<img th:src="${ml.imgurl}" src="영화포스터">
					</div>
					<div class="box-content">
						<div class="title">
							<strong th:text="${ml.mlName}"></strong>
						</div>
						<div class="rate-date">
							평점&nbsp;<span class="rate" th:text="${ml.mlRate}"></span>&nbsp;&nbsp;&nbsp; 개봉일 <span class="date" th:text="${#dates.format(ml.mlDate,'yyyy-MM-dd')}"></span>
						</div>
						<!-- <div class="m-reserv">
							<button type="button">예매하기</button>
						</div> -->
					</div>
				</li>
			</ul>
		</div>
	</div>
	<footer id="footer" th:include="/footer"></footer>
</body>
</html>