<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/recommend.css}">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header id="header" th:include="/header"></header>
	<div class="contents">
		<h2>영화를 추천받아보세요!</h2>
		<div class="rec">
			<iframe allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/6642608d-d04d-4989-b520-111a6d9da567"> </iframe>
		</div>
	</div>
	<footer id="footer" th:include="/footer"></footer>
</body>
</html>