<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/login/login.css}">
<title>회원가입</title>
</head>
<body>
	<header id="header" th:include="/header"></header>
	<div class="contents">
		<div class="registerbox">
				<label>
					<p>아이디</p>
					<input type="text" name="cId" id="cId">
					<p id="idNt" class="notice"></p>
				</label>
				<label>
					<p>이름</p>
					<input type="text" name="cName" id="cName">
					<p id="nameNt" class="notice"></p>
				</label>
				<label>
					<p>이메일</p>
					<input type="text" name="cEmail" id="cEmail">
					<p id="emailNt" class="notice"></p>
				</label>
				<label>
					<p>비밀번호</p>
					<input type="password" name="pw" id="cPw">
					<p id="pwNt" class="notice"></p>
				</label>
				<label>
					<p>비밀번호 확인</p>
					<input type="password" id="pwCheck">
					<p id="pwChNt" class="notice"></p>
				</label>
				<button class="loginbtn" id="register">회원가입</button>
		</div>
	</div>
	<footer id="footer" th:include="/footer"></footer>
	<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
	<script src="/js/login/register.js"></script>
</body>
</html>