@charset "UTF-8";

* {
	box-sizing: border-box;
}

h3, h4, h5, p, ul, li, dl, dd {
	margin: 0;
	padding: 0;
}

button {
	border: 0;
	outline: none;
}

body {
	line-height: 1.1;
	margin: 0;
	padding: 0;
}

#header {
	margin: 0 auto;
	width: 980px;
}

#footer {
	padding: 45px 0;
	background: #fafafa;
	border-top: 1px solid #e2e2e2;
	margin-top: 65px;
}

.contents {
	padding-top: 50px;
}

.r-container {
	margin: 0 auto;
	width: 1200px;
	height: 688px;
	border-bottom: 1px solid #eaeaea;
}

.r-container .boxHead {
	height: 58px;
	position: relative;
	background: #fd7476;
	overflow: hidden;
}

.r-container .boxHead .r-h4 {
	float: left;
	padding-left: 20px;
	font-size: 20px;
	color: #fef6f7;
	font-weight: 600;
	line-height: 57px;
	margin: 0;
	letter-spacing: 0px;
}

.r-container .re-res {
	float: right;
	line-height: 58px;
	padding: 0 20px;
}