@charset "UTF-8";

button {
	border: 0;
	outline: none;
	background: none;
	text-align: left;
	overflow: visible;
	cursor: pointer;
	padding: 0;
}

li button:hover{
	background: #e8e8e8 !important;
	font-weight: 600 !important;
}

.r-container .boxBody {
	display: flex;
}

.r-container .boxBody h5 {
	line-height: 64px;
	font-size: 17px;
	font-weight: 600;
	padding-left: 20px;
}

.r-container .boxBody .list-head {
	height: 65px;
	font-size: 17px;
	font-weight: 600;
	line-height: 64px;
	border-bottom: 1px solid #e4e9f2;
}

.cinema-list {
	width: 360px;
	border-left: 1px solid #eaeaea;
}

.cinema-list .list-body .cinema-select-wrap {
	display: flex;
}

.cinema-list ul li button {
	display: block;
	width: 100%;
	height: 50px;
	padding-left: 20px;
	font-size: 14px;
}
/* -------- cinema-list  cinemaArea -------- */
.cinema-list .cinemaArea {
	width: 150px;
}

.cinema-list .cinemaArea ul li button {
	background-color: #f2f2f2;
}

.cinema-list .cinemaArea ul li.active button {
	background: #fff !important;
	font-weight: 600;
}

/* -------- cinema-list  areaDatail -------- */
.cinema-list .areaDetail {
	width: 210px;
	max-height: 564px;
	overflow: auto;
}

.cinema-list .areaDetail ul li.active button {
	border: 2px solid LightCoral;
	font-weight: 600;
}

/* -------- mv-list -------- */
.mv-list {
	width: 360px;
	border-left: 1px solid #eaeaea;
}

.mv-list ul li button {
	display: block;
	width: 100%;
	padding: 18px 40px 18px 20px;
	font-size: 16px;
	color: #000;
	text-align: left;
	box-sizing: border-box;
}

.mv-list ul li.active button {
	border: 2px solid LightCoral;
	font-weight: 600;
}

.mv-list .list-body{
	max-height: 564px;
	overflow: auto;
}

/* -------- date-list -------- */
.date-list {
	width: 118px;
	border-left: 1px solid #eaeaea;
}

.date-list li strong {
	display: block;
	padding: 10px 20px;
	font-size: 17px;
	color: #000;
	background: #fff;
	border-top: 1px solid #e4e9f2;
	border-bottom: 1px solid #e4e9f2;
}

.date-list li button {
	display: block;
	width: 100%;
	height: 38px;
	font-size: 14px;
	padding-left: 20px;
}

.date-list li.saturday button {
	color: #1693ef;
}

.date-list li.sunday button {
	color: #ff0000;
}

.date-list li.active button {
	border: 2px solid LightCoral;
}

.time {
	width: 362px;
	border-right: 1px solid #eaeaea;
	border-left: 1px solid #eaeaea;
}

.time .time-list {
	height: 305px;
	border-bottom: 1px solid #e4e9f2;
}

.time .info-box {
	height: 195px;
	padding: 30px 20px 0;
	display: flex;
}

.time .info-box .poster {
	margin-right: 20px;
	width: 91px;
	height: 135px;
}
.time .info-box .poster img{
	width: 91px;
	height: 135px;
}

.time .info-box .text {
	overflow: hidden;
}

.time .info-box .text strong {
	display: block;
	font-size: 17px;
	font-weight: 600;
	margin-bottom: 20px;
	color: #bdbdbd;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.time .info-box .text strong span {
	color: #000;
}

.time .info-box .text dl {
	display: flex;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 7px;
}

.time .info-box .text dt {
	width: 56px;
	color: #909090;
}

.time .info-box .text dd {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.time .next {
	height: 64px;
	background-color: gold;
}

.time .next button {
	display: block;
	width: 100%;
	height: 64px;
	padding: 0 20px;
	font-size: 17px;
	font-weight: 500;
}